#displaydice {
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 163px;
}

#main {
  text-align: center;
}

.instructions {
  text-align: center;
  padding-top: 10em;
}

body {
  background-image: url("../images/33.png");
}

.jumbotron {
  background-color: #FA8072;
  height: 210px;
}

.wrapper {
  width: 1000px;
  height: 910px;
  border: 2px solid black;
  background-color: white;
  margin-left: 160px;
  min-height: 12px;
}
.logo {
    float: left;
}
